version: "3.9"
services:
  web:
    image: "php:apache"
    volumes:
      - "./apache2.conf:/etc/apache2/sites-available/000-default.conf:ro"
      - "./html:/var/www/html:cached"
    ports:
      - "8090:80"
